  <div class="container">
  <%= form_with(model: @profile, html: { multipart: true } ) do |form| %>
  <h2>Who?</h2>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>
  <div class="form-group">
    <%= form.label :age %>
    <%= form.text_field :age %>
  </div>
  <div class="form-group">
    <%= form.label :gender %>
    <%= form.text_field :gender %>
  </div>
  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_field :bio %>
  </div>
  <div class="form-group">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>
  <h2>What?</h2>
  <div class="form-group 2">
  <ul>
    <% @activities.each do |activity| %>
      <li>
        <% if @user_activities.include?(activity)%>
          <%= check_box_tag( "activity[]", activity.id, checked = true) %>
        <% else %>
          <%= check_box_tag( "activity[]", activity.id, checked = false) %>
        <% end %>
      <%= activity.activity %>
      </li>
    <% end %>
    </ul>
  </div>
  <h2>Where?</h2>
  <div class="form-group 2">
    <%= form.label :street %>
    <%= form.text_field :street %>
  </div>
  <div class="form-group 2">
    <%= form.label :city %>
    <%= form.text_field :city %>
  </div>
  <div class="form-group 2">
    <%= form.label :state %>
    <%= form.text_field :state %>
  </div>
  </div>
  <%= form.hidden_field :user_id, value: current_user.id %>
    <%= submit_tag("Submit") %>
  <% end %>
</div>
