<div class="panel-body">
  <%= form_with(model: @profile, html: { multipart: true } ) do |form| %>
  <div class="form-group">
    <i class="fas fa-user-circle" style= "font-size: 25px;"></i>
    <%= form.text_field :name , placeholder:"Name"%>
  </div>

  <div class="form-group">
    <i class="fas fa-home" style= "font-size: 25px;"></i>
    <%= form.text_field :street, placeholder:"Address" %>
  </div>

  <div class="form-group">
  <i class="fas fa-city" style= "font-size: 25px;"></i>
    <%= form.text_field :city, placeholder:"City" %>
  </div>

  <div class="form-group">
   <i class="fas fa-home" style="font-size: 25px;visibility:hidden;"></i>
   <%= form.text_field :state, placeholder:"State" %>
  </div>

<br>

    <div class="form-group">
      <i class="fa fa-birthday-cake" aria-hidden="true"></i>
      <%= form.text_field :age, placeholder:"Age" %>
    </div>
    <div>
      <i class="fa fa-id-card" aria-hidden="true"></i>
      <%= form.text_field :gender, placeholder: "Gender" %>
    </div>

    <div class="form-group">

    </div>
 <h2>What?</h2>
  <div class="form-group 2">
  <ul>
    <% @activities.each do |activity| %>
      <li>
        <%= form.fields_for :activity do |form_act|%>
          <%= form_act.check_box( "activity[#{activity.activity}][checked]", { class: 'activityItem', id: activity.id, checked: @profile.activities.include?(activity), data: { skill: activity.skill_level_for(@profile.user)}},'true', 'false') %>
          <%= activity.activity %>
          <span>
            <%= form_act.select "activity[#{activity.activity}][skill_level]", options_for_select(["Beginner", "Intermediate", "Expert"]),{},  class: 'activityDropdown', id: activity.id %>
          </span>
        <% end %>
      </li>
    <% end %>
    </ul>
  </div>

  <div class="form-group">
    <%= form.label :bio %>
    <%= form.text_area :bio %>
  </div>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= submit_tag("Submit") %>
  <% end %>
</div>
