<%= form_with(model: @profile, html: { multipart: true } ) do |form| %>
<%= form_tag 'index', method: 'get' do %>
<div>
  <%= text_field_tag :search, params[:search]%>
  <%= submit_tag "Search", name: nil %>
</div>
<div class="form-group">
  <%= form.label :age %>
  <%= form.text_field :age %>
</div>
<div class="form-group">
  <%= form.label :gender %>
  <%= form.text_field :gender %>
</div>
<div>
<ul>
  <% @activities.each do |activity| %>
    <li>
      <% if @user_activities.include?(activity)%>
        <%= check_box_tag( "activity[]", activity.id, checked = true) %>
      <% else %>
        <%= check_box_tag( "activity[]", activity.id, checked = false) %>
      <% end %>
    <%= activity.activity %>
    </li>
  <% end %>
  </ul>
</div>
<% end %>
<% @profiles.each do |profile|%>
  <div class="card" >
    <ul class="list-group">
      <% if profile.image != ""%>
        <li class="list-group-item">
          <%= link_to profile do %>
            <%= image_tag profile.image.url(:thumb) %>
            <% end %>
        </li>
      <% end %>

      <li class="list-group-item"><%= link_to "#{profile.name}", profile %></li>
      <% profile.user.activities.each do |activity| %>
        <div>
          <%= link_to "#{activity.activity}", profile %>
        </div>
      <% end %>
      <li class="list-group-item"><%= link_to "#{profile.age}", profile %></li>
      <li class="list-group-item"><%=  link_to "#{profile.city}", profile %></li>
      <li class="list-group-item"> <%= link_to "#{profile.gender}", profile %></li>
      <li class="list-group-item"><%=  link_to "#{profile.bio}", profile %></li>
    </ul>
  </div>
<% end %>
<% end %>
