<%= react_component 'TestComponent'%>

<% @profiles.each do |profile|%>
  <div class="card" >
    <ul class="list-group">
      <% if profile.image != ""%>
        <li class="list-group-item">
          <%= link_to profile do %>
            <%= image_tag profile.image.url(:medium) %>
            <% end %>
        </li>
      <% end %>

      <li class="list-group-item"><%= link_to "#{profile.name}", profile %>, <%= profile.age %></li>
      <li class="list-group-item"><% profile.activities.each do |activity| %>
          <%= activity.activity %>
      <% end %></li>
    </ul>
  </div>
<% end %>
