<% @profiles.each do |profile|%>
  <div class="card" >
    <ul class="list-group">
      <% if profile.image != ""%>
        <li class="list-group-item">
          <%= image_tag profile.image.url(:thumb) %>
        </li>
      <% end %>
      <li class="list-group-item"><%= profile.name %></li>
      <li class="list-group-item">
        <% profile.user.activities.each do |activity| %>
            <div><%= activity.activity %></div>
        <% end %>
      </li>
      <li class="list-group-item"><%=profile.age %></li>
      <li class="list-group-item"><%= profile.city %></li>
      <li class="list-group-item"> <%= profile.gender %></li>
      <li class="list-group-item"><%= profile.bio %></li>
    </ul>
  </div>
<% end %>
