<% @profiles.each do |profile|%>
  <div class="card" >
    <ul class="list-group">
      <% if profile.image != ""%>
        <li class="list-group-item">
          <%= link_to profile do %>
            <%= image_tag profile.image.url(:thumb) %>
            <% end %>
        </li>
      <% end %>

      <li class="list-group-item"><%= link_to "#{profile.name}", profile %>, <%= profile.age %></li>
      <li class="list-group-item"><% profile.user.activities.each do |activity| %>
        <div>
          <%= activity.activity %>
        </div>
      <% end %></li>
    </ul>
  </div>
<% end %>
