  <div class="card" >
    <ul class="list-group">
        <li class="list-group-item">
          <%= image_tag @profile.image_file_name %>
        </li>
      <li class="list-group-item"><%= @profile.name %>, <%= @profile.age %></li>
      <li class="list-group-item"><% @profile.activities.each do |activity| %>
        <%= activity.activity %>
      <% end %></li>
      <li class="list-group-item"> <%= @profile.city %>, <%= @profile.state %></li>
      <li class="list-group-item"><%= @profile.bio %></li>
    </ul>
  </div>
