<div class="show-profile">
<div class="show-card" style="width: auto; height: auto;" >
  <img class="card-img-top">
  <div class="card-body">
      <div class="show-image">
        <% if @profile.image.attached? %>
          <%= image_tag(url_for(@profile.image), size: "240x240") %>
        <% end %>
      </div>
      <li class="show-name"><%= @profile.name %>, <%= @profile.age %>
      <p class="city-state"> <%= @profile.city %>, <%= @profile.state %></p>
      </li>
      <div class="activities">
      <h6>Activities</h6>
        <% @profile.activities.each do |activity| %>
          <%= activity.activity %> 
          <%= "(#{activity.skill_level_for(@profile.user)})" %>
        <% end %>
      </div>
      <div class="show-bio">
      <h6>Bio</h6>
        <%= @profile.bio %>
      </div>
      <li class="list-group-item-action active">
        <%= link_to "Chat with #{@profile.name}", profile_messages_path(@profile) %>
      </li>
    </ul>
  </div>
 </div>
</div>
